<%# Admin form for Razorpay Affordability block %>
<br><h5 class="mb-3">Razorpay: Appearance & Color</h5><br>

<!-- Theme/Header color -->
<div class="mb-4 form-group"
     data-controller="color-picker"
     data-color-picker-clear-value="false"
     data-color-picker-default-color-value="<%= f.object.preferred_theme_color.presence || '#800080' %>">
  <div class="d-flex align-items-center">
    <%= f.hidden_field :preferred_theme_color,
      data: { color_picker_target: "input", action: "change->auto-submit#submit" },
      autocomplete: "off" %>

    <div>
      <label class="mb-0">Theme (Header) Color</label><br>
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_theme_color.presence || '#800080' %>
      </span>
    </div>

    <div class="ml-auto" style="width:40px">
      <div data-color-picker-target="picker"
           class="border d-inline-block rounded-circle"
           style="height: 40px; width: 40px; background-color: <%= f.object.preferred_theme_color.presence || '#800080' %>;"
           role="button" aria-label="toggle color picker dialog"></div>
    </div>
  </div>
</div>

<hr>

<br><h5 class="mb-3">Heading Options</h5><br>
<div class="form-group">
  <label>Heading Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_heading_color.presence || '#000000' %>">
    <%= f.hidden_field :preferred_heading_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_heading_color.presence || '#000000' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_heading_color.presence || '#000000' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Heading Font Size</label>
  <div data-controller="better-slider"
       data-better-slider-label-for-min-value=""
       data-better-slider-unit-value="px">
    <div class="flex flex-row w-full">
      <%= f.number_field :preferred_heading_font_size, type: 'range', min: 8, max: 48, step: 1,
            class: 'custom-range',
            data: { better_slider_target: "rangeInput", action: "change->auto-submit#submit" } %>
    </div>
    <span data-better-slider-target="currentValueLabel"><%= f.object.preferred_heading_font_size %>px</span>
  </div>
</div>

<hr>

<br><h5 class="mb-3">Content Options</h5><br>
<div class="form-group">
  <label>Content Background Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_content_background_color.presence || '#ffffff' %>">
    <%= f.hidden_field :preferred_content_background_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_content_background_color.presence || '#ffffff' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_content_background_color.presence || '#ffffff' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Content Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_content_color.presence || '#000000' %>">
    <%= f.hidden_field :preferred_content_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_content_color.presence || '#000000' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_content_color.presence || '#000000' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Content Font Size</label>
  <div data-controller="better-slider"
       data-better-slider-label-for-min-value=""
       data-better-slider-unit-value="px">
    <div class="flex flex-row w-full">
      <%= f.number_field :preferred_content_font_size, type: 'range', min: 8, max: 30, step: 1,
            class: 'custom-range',
            data: { better_slider_target: "rangeInput", action: "change->auto-submit#submit" } %>
    </div>
    <span data-better-slider-target="currentValueLabel"><%= f.object.preferred_content_font_size %>px</span>
  </div>
</div>

<hr>

<br><h5 class="mb-3">Discount & Link / Button</h5><br>

<div class="form-group">
  <label>Discount Value Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_discount_color.presence || '#e60099' %>">
    <%= f.hidden_field :preferred_discount_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_discount_color.presence || '#e60099' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_discount_color.presence || '#e60099' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Show as Button?</label>
  <%= f.select :preferred_link_button,
        options_for_select([["Yes", true], ["No", false]], f.object.preferred_link_button),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <label>Link Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_link_color.presence || '#000000' %>">
    <%= f.hidden_field :preferred_link_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_link_color.presence || '#000000' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_link_color.presence || '#000000' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Link Font Size</label>
  <div data-controller="better-slider"
       data-better-slider-label-for-min-value=""
       data-better-slider-unit-value="px">
    <div class="flex flex-row w-full">
      <%= f.number_field :preferred_link_font_size, type: 'range', min: 8, max: 20, step: 1,
            class: 'custom-range',
            data: { better_slider_target: "rangeInput", action: "change->auto-submit#submit" } %>
    </div>
    <span data-better-slider-target="currentValueLabel"><%= f.object.preferred_link_font_size %>px</span>
  </div>
</div>

<hr>

<br><h5 class="mb-3">Footer & Dark Mode</h5><br>

<div class="form-group">
  <label>Footer Color</label>
  <div class="mb-4 form-group"
       data-controller="color-picker"
       data-color-picker-clear-value="false"
       data-color-picker-default-color-value="<%= f.object.preferred_footer_color.presence || '#000000' %>">
    <%= f.hidden_field :preferred_footer_color,
        data: { color_picker_target: "input", action: "change->auto-submit#submit" },
        autocomplete: "off" %>
    <div class="d-flex align-items-center">
      <span data-color-picker-target="value" class="text-muted">
        <%= f.object.preferred_footer_color.presence || '#000000' %>
      </span>
      <div class="ml-auto" style="width:40px">
        <div data-color-picker-target="picker"
             class="border d-inline-block rounded-circle"
             style="height: 40px; width: 40px; background-color: <%= f.object.preferred_footer_color.presence || '#000000' %>;"
             role="button"></div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label>Footer Font Size</label>
  <div data-controller="better-slider"
       data-better-slider-label-for-min-value=""
       data-better-slider-unit-value="px">
    <div class="flex flex-row w-full">
      <%= f.number_field :preferred_footer_font_size, type: 'range', min: 8, max: 20, step: 1,
            class: 'custom-range',
            data: { better_slider_target: "rangeInput", action: "change->auto-submit#submit" } %>
    </div>
    <span data-better-slider-target="currentValueLabel"><%= f.object.preferred_footer_font_size %>px</span>
  </div>
</div>

<div class="form-group">
  <label>Footer Dark Logo</label>
  <%= f.select :preferred_footer_dark_logo,
        options_for_select([["Light logo (default)", false], ["Dark logo", true]], f.object.preferred_footer_dark_logo),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <label>Dark Mode</label>
  <%= f.select :preferred_is_dark_mode,
        options_for_select([["Off", false], ["On", true]], f.object.preferred_is_dark_mode),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<hr>

<br><h5 class="mb-3">Widget Settings (Enable / Disable)</h5><br>

<div class="form-group">
  <label>Offers</label>
  <%= f.select :preferred_offers_enabled,
        options_for_select([["Enabled", true], ["Disabled", false]], f.object.preferred_offers_enabled),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <label>EMI</label>
  <%= f.select :preferred_emi_enabled,
        options_for_select([["Enabled", true], ["Disabled", false]], f.object.preferred_emi_enabled),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <label>Cardless EMI</label>
  <%= f.select :preferred_cardless_emi_enabled,
        options_for_select([["Enabled", true], ["Disabled", false]], f.object.preferred_cardless_emi_enabled),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <label>Pay Later</label>
  <%= f.select :preferred_paylater_enabled,
        options_for_select([["Enabled", true], ["Disabled", false]], f.object.preferred_paylater_enabled),
        {}, class: "custom-select", data: { action: "change->auto-submit#submit" } %>
</div>

<hr>

<br><h5 class="mb-3">Other / Keys</h5><br>

<div class="form-group">
  <%= f.label :preferred_merchant_key_id, "Merchant Key ID (override gateway)" %>
  <%= f.text_field :preferred_merchant_key_id, class: "form-control", data: { action: "change->auto-submit#submit" } %>
</div>

<div class="form-group">
  <%= f.label :preferred_fallback_amount, "Fallback amount (paise)" %>
  <%= f.number_field :preferred_fallback_amount, class: "form-control", data: { action: "change->auto-submit#submit" } %>
</div>
