<p class="mb-1">
  Razorpay India powers your store with simple, secure, and scalable payments across UPI, cards, wallets, and more.
</p>

<div class="d-flex align-items-center">
  <%= payment_method_icon_tag 'visa', class: 'm-1' %>
  <%= payment_method_icon_tag 'master', class: 'm-1' %>
  <%= payment_method_icon_tag 'google_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'apple_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'amazon', class: 'm-1' %>
  <%= payment_method_icon_tag 'upi', class: 'm-1' %>
</div>
